@charset "UTF-8";

/*Formatação de tabela*/
	table{
		border-collapse: collapse;
	}
	th{
		border: 1px solid #ccc;
		padding: 9px;
		background-color: silver;
	}
	td{
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
		border-left:
	}
